<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <h3>Available Hospitals</h3>
    <table>
        <tr>
            <td>S.NO.</td>
            <td>Hospitals</td>
            <td>date</td>
            <td>Submit</td>
        </tr>
        <tr>
            <td>1</td>
            <td>A</td>
            <td>
                <input type="date">
            </td>
            <td>
                <button type="submit">Sumbit</button>
            </td>
        </tr>
        <tr>
            <td>2</td>
            <td>B</td>
            <td>
                <input type="date">
            </td>
            <td>
                <button type="submit">Sumbit</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td>C</td>
            <td>
                <input type="date">
            </td>
            <td>
                <button type="submit">Sumbit</button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td>D</td>
            <td>
                <input type="date">
            </td>
            <td>
                <button type="submit">Sumbit</button>
            </td>
        </tr>
    </table>
</body>
</html>