<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blood Bank</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/home.css">
</head>
<body>
    <div class="banner">
        <h1>DONATE BLOOD !! SAVE LIFE</h1>
    </div>
    <ul class="nav justify-content-end setup">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/signup">Create Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/user/signin">Login</a>
        </li>
    </ul>
    <div class="cen">
        <a href="/centre">Save Life</a>
    </div>
    <div class="hist">
        <a href="/history">History</a>
    </div>
</body>
</html>