<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Registration</title>
</head>
<body>
    <h1>Register your hospital</h1>
    <form action="/hospital/register" method="post">
        <label>Enter hospital name</label>
        <input type="text" name="name">
        <label>Paste Hospital's Gmap link</label>
        <input type="text" name="location">
        <button type="submit">Submit</button>
    </form>
</body>
</html>