<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/signin.css">
    <title>Document</title>
</head>
<body>
    <div class="fill_form">
        <form action="/user/signin" method="post">
            <div class="oval">
                <h1>LOGIN</h1>
            </div>
            <div class="email">
                <label>Email Address:</label>
                <input type="email" name="email" placeholder="a@gmail.com">
            </div>
            <div class="pwd">
                <label>Password:</label>
                <input type="password" name="password">
            </div>
            <div>
                <button type="submit" class="btn">Submit</button>
            </div>
        </form>
    </div>
</body>
</html>